<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light"style="background-color: #E8D9FF;">
    <a class="navbar-brand" href="">평소에 좋아하는 스트리머</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'home'%}">홈 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'new'%}">글 추가 </a>
        </li>
        </ul>
    </div>
    </nav>
<br>
<div class="card-deck">
  <div class="card">
    <img src="https://scontent-bru2-1.cdninstagram.com/vp/5acb68787a0757b40411edbb5e69a5ca/5DC4B461/t51.2885-15/sh0.08/e35/p750x750/66391465_118177559467991_6097962854448236630_n.jpg?_nc_ht=scontent-bru2-1.cdninstagram.com&ig_cache_key=MjA4NzE4MzA3ODQyMzE4MTA5Nw%3D%3D.2" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">뜨뜨뜨뜨</h3>
      <p class="card-text">배그 방송 볼떄는 주로 뜨뜨뜨뜨를 본다. 실력도 킹 외모도 킹 소중한 백만개!!! 라는 별풍선 리액션 할 때 귀엽다.ㅎㅎ</p>
    </div>
  </div>
  <div class="card">
    <img src="https://scontent-lhr3-1.cdninstagram.com/vp/389dd9f23eb61d02342de27da8bd4420/5DB2CC7F/t51.2885-15/sh0.08/e35/c0.135.1080.1080a/s640x640/50254470_388280691939343_3949495737884767537_n.jpg?_nc_ht=scontent-lhr3-1.cdninstagram.com&ig_cache_key=MTk1NDM3Nzc4NTY2NTQyODM3NQ%3D%3D.2.c" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">미라지</h3>
      <p class="card-text">옵치 방송 볼때 무조건 미라지를 본다. 웃음소리 웃기고 저격러들 떔에 스트레스 받을 때 하는 행동들이 웃기다.ㅋㅋㅋ</p>
    </div>
  </div>
  <div class="card">
    <img src="https://pbs.twimg.com/media/DBfI4cSU0AADSp8.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">저라뎃</h3>
      <p class="card-text">롤 첼린저 1등까지 찍어본 정글러다. 리신이랑 그브 연습할 때 항상 보고 연습함. 롤토체스도 잘한다. 역시 정글은 저튜브</p>
    </div>

  </div>
</div>
</body>
